main {
  margin-bottom: 50px;
}
.button_wrap{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  bottom: 0;
  z-index: 99;
}
.play{
  background-image: url("play.png");
  background-color:white;
  border-radius: 50%;
  border: hidden;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  outline: none;
}
.play.pause{
  background-image: url("pause.png");
  background-color:white;
  border-radius: 50%;
  border: hidden;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  outline: none;
}
.stop{
  background-image: url("stop.png");
  background-color:white;
  border-radius: 50%;
  border: hidden;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  outline: none;
}
.recordHandleBox{
  display: none;  
  justify-content: center;
  align-items: center;
}
.countDown{
  display: none;
  color:#e4393c;
  background:#fff;
}
.record_container{
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
.recordBox{
  background: #FFA831;
  color: #fff;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 40px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
.uploadBox,.exitRecordBox{
  display: none;
  background: #FFA831;
  color: #fff;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 40px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
.recordHandleBox div{
  background: #FFA831;
  color: #fff;
  line-height: 30px;
  text-align: center;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  float: left;
}
.curRecorderBox{
  justify-content: center;
  align-items: center;
  display: none;
  outline: 0;
}
.audio{
  height: 30px;
  outline: none;
}
.disBtn {
  background-color: #ccc !important;
}